.content-header {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;
}

.navbar {
  display: flex;
  flex-direction: row;
}

.title {
  font: 700 24px Nunito, sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
}

.header .header-list {
  margin-left: 1rem;
  font: 600 18px Nunito, sans-serif;
}

.link-list {
  text-decoration: none;
  font-size: 1.4rem;
  transition: background-color 0.2s;
  font: 600 18px Nunito, sans-serif;
  color: #fff;
}

.link-list:hover {
  color: #000;
}
.icon-button {
  background-color: transparent;
  border: none;
}

.icon-button .icon-menu {
  display: none;
}

.content-navbar2 {
  display: none;
}

@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
    display: none;
  }

  .icon-button {
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
  }

  .icon-button .icon-menu {
    display: inline;
    width: 30px;
    height: 30px;
    background-color: transparent;
    cursor: pointer;
    margin-left: 1rem;
  }

  .content-navbar2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
}
